{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Профиль пользователя{% endblock %}
{% block header %}Профиль пользователя{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{user_first_name}} {{user_last_name}}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                        {{username}}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: XXX <br />
                                            Подписан: XXX
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{post_count}}
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">                

                <!-- Начало блока с отдельным постом --> 
                    <div class="card mb-3 mt-1 shadow-sm">
                            <div class="card-body">
                                    <p class="card-text">
                                            <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                            <a href="/{{username}}"><strong class="d-block text-gray-dark">{{username}}</strong></a>
                                            <!-- Текст поста -->
                                            <br><p style="color: gray;">Последняя запись</p><hr>
                                        {% thumbnail last_post.image "960x339" crop="center" upscale=True as im %}
                                                <img class="card-img" src="{{ im.url }}">
                                        {% endthumbnail %}
                        
                                            {{last_post}} 
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group ">
                                                    <!-- Ссылка на страницу записи в атрибуте href-->
                                                    <a class="btn btn-sm text-muted" href="{% url 'post' username=username post_id=last_post.id %}" role="button">Просмотр записи</a>
                                                    {% if request.user == last_post.author %}
                                                    <!-- Ссылка на редактирование, показывается только автору записи -->
                                                    <a class="btn btn-sm text-muted" href="{% url 'post_edit' username=username post_id=last_post.id %}" role="button">Редактировать</a>
                                                    {% endif %}
                                            </div>
                                            <!-- Дата публикации  -->
                                            <small class="text-muted">{{last_post.pub_date}}</small>
                                    </div>
                            </div>
                    </div>
                <!-- Конец блока с отдельным постом --> 
    {% for post in page %} 
    <a href="{% url 'profile' username=username %}"><strong class="d-block text-gray-dark">{{username}}</strong></a>
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                <img class="card-img" src="{{ im.url }}">
        {% endthumbnail %}
                        
    <p>{{ post.text|linebreaksbr }}</p> 
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group ">
                <!-- Ссылка на страницу записи в атрибуте href-->
                <a class="btn btn-sm text-muted" href="{% url 'post' username=username post_id=post.id %}" role="button">Просмотр записи</a>
                {% if request.user == post.author %}
                <!-- Ссылка на редактирование, показывается только автору записи -->
                <a class="btn btn-sm text-muted" href="{% url 'post_edit' username=username post_id=post.id %}" role="button">Редактировать</a>
                {% endif %}
        </div>
        <!-- Дата публикации  -->
        <small class="text-muted">{{post.pub_date}}</small>
    </div>
    {% if not forloop.last %}<hr>{% endif %} 
    {% endfor %}
    
                <!-- Остальные посты -->  

    {% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
    ****
    
                <!-- Здесь постраничная навигация паджинатора -->
     </div>
    </div>
</main>
{% endblock %}